[[source]]
url = "https://pypi.org/simple"
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
mysql-connector-python = "*"
pymysql = "*"
jinja2 = "*"
python-multipart = "*"
AWSIoTPythonSDK = "*"
typing-extensions = "*"

[dev-packages]

[requires]
