<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garden Watter Control</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1>
    Garden Watter Control
</h1>

<div class="form">
<form method="post">

    <div class="form_input">
        <label>Zone 1: </label>
        <input type="number" name="zone_1" value="{{ zone_1 }}"/>
    </div>
</br>
    <div class="form_input">
        <label>Zone 2: </label>
        <input type="number" name="zone_2" value="{{ zone_2 }}"/>
    </div>
</br>
    <div class="form_input">
        <label>Zone 3: </label>
        <input type="number" name="zone_3" value="{{ zone_3 }}"/>
    </div>
</br>
    <div class="form_input">
        <label>Irrigation start: </label>
        <input type="time" name="irrigation_start" value="{{ irrigation_start }}"/>
    </div>
</br>
    <label>Irrigation state: </label>
</br>
    <div class="irrigation_state">
        <input type="radio" id="irrigation_on_cond" name="irrigation_state" value="True_cond" {{irrigation_on_cond_checked}}/>
        <label for="irrigation_on_cond">ON if rain less than</label>
        <input class="rain_input" type="number" id="rain_input" name="rain_input" value="{{ rain_input }}" /> ml
    </div>
    <input type="radio" id="irrigation_on" name="irrigation_state" value="True" {{irrigation_on_checked}}/>
    <label for="irrigation_on">ON regardless of rain</label><br>

    <input type="radio" id="irrigation_off" name="irrigation_state" value="False" {{irrigation_off_checked}}/>
    <label for="irrigation_off">OFF</label><br>
</br>
    <div class="input_radio">
        <label>Watter source: </label>
        </br>

        <input type="radio" id="watter_tank" name="watter_source" value="1" {{watter_source_watter_tank_checked}}/>
        <label for="watter_tank">watter tank</label><br>

        <input type="radio" id="other" name="watter_source" value="2" {{watter_source_other_checked}}/>
        <label for="other">city pipe</label><br>
    </div>

    <div class="button"><input type="submit"/></div>
</form>
</div>
<div class="volume_stats">
    <a href="charts">Charts</a>
    <h3>Total watter deliverd today</h3>
    <p>
        Total: <b>{{ total_volume_today }} </b> L </br>
        Zone 1: {{ zone_volumes[1] }} L</br>
        Zone 2: {{ zone_volumes[2] }} L</br>
        Zone 3: {{ zone_volumes[3] }} L</br>
    </p>
    <h3>Data From the Rain Gauge</h3>
    <p>
        Rain today: {{ rain_data[0] }} ml </br>
        Rain yesterday: {{ rain_data[1] }} ml </br>
        Rain 2 days ago: {{ rain_data[2] }} ml </br>
    </p>
</div>
</body>
</html>
